
html{
  height: 100%;
  margin: auto;
}
body{
margin: auto;
flex-direction: column;
height: 100%;
}
.container {
  max-width: 600px;
  margin: 0 auto; 
  padding: 20px;
  background-color: white;
  border: 1px solid black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

h1{
  text-align: center;
}

.input-group {
  width: 48%;
  margin-bottom: 10px;
}

.task-input {
  width: 100%;
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 5px;
  box-sizing: border-box;
}

#add-button {
  width: 100%;
  padding: 10px;
  background-color: gray;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#add-button:hover {
  background-color: #0056b3;
}

h4{
  margin-block-end: 0%;
  font-weight:normal;
}

h2{
  margin-block-end: 0%;
  font-weight:normal;
  margin: 60px;
}