
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}


h1 {
  text-align: center;
  margin-top: 20px;
  color: #333;
}


.container {
  max-width: 800px;
  width: 100%;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px 0;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
}


.input-group {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column; 
  margin-right: 20px;
}


h4 {
  margin-top: 10px;
  font-weight: bold;
  color: #333;
  text-align: left; 
}


.task-input,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
  margin-right: 10px;
}


#add-button {
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#add-button:hover {
  background-color: #555;
}


.recette {
  max-width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px 0;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.recette img {
  max-width: 100%;
  height: auto;
}


.paramettre {
  width: 100%;
  margin-top: 10px;
  text-align: right;
  
}


.nom-recette {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}


.duree {
  font-size: 16px;
  color: #888;
}

.note {
  font-size: 16px;
  color: #ff6600;
  font-weight: bold;
}

#input-comment {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
  text-align: left;
  display: block;
  margin-right: 10px;
}

h4 {
  text-align: left;
  margin-top: 10px;
  font-weight: bold;
  color: #333;
}
